<div class="container">
     <div class="container equipment-list">
    <div class="row">
        <div class="col-md-3 col-sm-3 queue-main">
        <div class="panel-heading text-center customer-heading">{{customerName}}</div>
            <div class="col-md-12 col-sn-12">
            <label class="col-md-4 col-sm-4">Services:</label>
                <div class="col-md-4 col-sm-4" >
                 <div class="col-md-12 col-sm-12" ng-repeat = "service in customerServices">
                    {{service}}
                 </div>
                </div>  
            </div>
            <div class="col-md-12 col-sn-12">
            <label class="col-md-4 col-sm-4">Account:</label> 
             <div class="col-md-4 col-sm-4" >
             {{customerAccount}}
             </div>
            </div>
            <div class="col-md-12 col-sn-12">
            <label class="col-md-4 col-sm-4">Payments:</label> 
            <div class="col-md-4 col-sm-4" >
             {{customerPayments}}
             </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3 col-sm-3 queue-main">
          <div class="panel-heading text-center customer-heading" >Current Issue</div>
          <label class="col-md-10 col-sm-10 text-center" style="font-size:18px"> Title 
          </label>
          <input type="text" class="col-md-10 col-sm-10 btn btn-default" id="title" name="title" style="align: center; clear: both;" placeholder="Enter issue here" value="{{customerTitle}}" />
          <label class="col-md-10 col-sm-10 text-center" style="font-size:18px"> Summary 
          </label>
          <textarea type="text" class="col-md-10 col-sm-10 btn btn-default" id="summary" name="summary" placeholder="Enter Summary of Issue "> {{customerSummary}}
          </textarea>
          <div class="col-md-12 col-sm-12 container" style="padding-top:15px">
          <button class="col-md-offset-4 col-md-4 col-sm-4 btn btn-save" ng-click = "issueSave()"> Save</button>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-3 col-sm-3 queue-main input-append date" >
           <div class="panel-heading text-center customer-heading">Setup Followup</div>
           <label class="col-md-5 col-sm-5 text-center" style="font-size:18px"> Date 
          </label>
          
          <div class="datepicker">
          <input type="text" class="col-xs-4 btn work-btn" placeholder="Date" id="date" name="date" ng-model="date" bs-datepicker />
          </div>
        
          <label class="col-md-5 col-sm-5 text-center" style="font-size:18px"> Time
          </label>
          <input type="text" class="col-xs-3 btn work-btn col-xs-offset-1 ng-pristine ng-valid ng-touched" size="8" ng-model="time" name="time" bs-timepicker="" data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">

          <div class="col-md-12 col-sm-12 container" style="padding-top:15px">
              <button class="col-md-offset-4 col-md-4 col-sm-4 btn btn-save" ng-click = "followUpSave()"> Save</button>
          </div>
           </div>
    </div>
 </div>
    <script type="text/ng-template" id="attachmentView.html">
        <button class="btn btn-warning close-btn-modal pull-right clearfix" type="button" ng-click="cancel()">X</button>
    <div class="modal-body" style="clear:both;">
        <img class="img-responsive" src="{{image}}">
    </div>
</script>
</div>